<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.encore.outpick_backend.Analyze.mapper.AnalyzeMapper">

    <select id="get_analyze_entire"
            parameterType="int"
            resultType="com.encore.outpick_backend.Analyze.domain.AnalyzeEntireVO">
        SELECT MONTH(ss.date) as month,
            SUM(ss.quantity) as entireQuantity
        FROM shop_sales ss
            JOIN shop s ON s.shop_id=ss.shop_id
            JOIN product p ON p.product_id=ss.product_id
        WHERE YEAR(ss.date)=#{year}
        GROUP BY MONTH(ss.date)
        ORDER BY MONTH(ss.date);
    </select>


</mapper>
