<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.encore.outpick_backend.Product.mapper.ProductMapper">

    <!-- 상품 리스트 조회 -->
    <select id="read_product_list"
            resultType="com.encore.outpick_backend.Product.domain.ProductDTO">
        SELECT
            p.product_id,
            c.name AS category,
            p.name,
            p.consumer_price AS price,
            p.size,
            p.gender,
            p.color,
            p.season,
            p.fit,
            p.first_cost,
            s.stock,
            ss.quantity
        FROM
            product p
        JOIN category c ON (c.category_id = p.category_id)
        LEFT JOIN stock s ON (p.product_id = s.product_id)
        JOIN shop_sales ss ON (ss.product_id = p.product_id)
        GROUP BY ss.product_id
    </select>

    <!-- 상품 단일 조회 -->
    <select id="read_product"
            parameterType="java.lang.Integer"
            resultType="com.encore.outpick_backend.Product.domain.ProductDTO">
        SELECT *
        FROM
            product
        WHERE
            product_id = #{product_id}
            
    </select>

    <!-- 상품 할인율 수정 -->
    <select id="update_product_discount"
            parameterType="map">
        UPDATE
            product p
        JOIN
            shop_stock s on (p.product_id = s.product_id)
        SET
            s.discount = #{discount}
        WHERE
            p.product_id = #{product_id} AND s.shop_id = #{shop_id}
    </select>
</mapper>