<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.encore.outpick_backend.Shop.mapper.ShopMapper">

    <!--로그인한 사원이 관리하는 매장을 리스트로 확인-->
    <select id="get_shop_list"
            parameterType="com.encore.outpick_backend.Login.domain.LoginDTO"
            resultType="com.encore.outpick_backend.Shop.domain.ShopDTO">

            SELECT
                *
            FROM
                shop
            WHERE
                employee_id = (SELECT employee_id
                               FROM employee
                               WHERE employee_number = #{employee_number})
    </select>

    <!--전체 매장 리스트로 조회-->
    <select id="get_all_shop"
            resultType="com.encore.outpick_backend.Shop.domain.ShopDTO">

        SELECT
            *
        FROM
            shop
    </select>

    <!--로그인한 사원이 관리하는 매장 정보를 확인-->
    <select id="get_shop_detail"
            parameterType="map"
            resultType="com.encore.outpick_backend.Shop.domain.ShopDTO">

            SELECT
                e.name AS employee_name,
                s.address AS address,
                s.contact AS contact,
                s.content AS content,
                s.manager AS manager,
                s.email AS email,
                s.name AS name
            FROM
                shop s
            JOIN
                employee e ON s.employee_id = e.employee_id
            WHERE
                s.employee_id = (SELECT employee_id
                                 FROM employee
                                 WHERE employee_number = #{employee_number})
            AND
                s.shop_id = #{shop_id}
    </select>

    <!--관리자는 모든 매장 정보를 확인-->
    <select id="get_shop_detail_admin"
            parameterType="map"
            resultType="com.encore.outpick_backend.Shop.domain.ShopDTO">

        SELECT
            e.name AS employee_name,
            s.address AS address,
            s.contact AS contact,
            s.content AS content,
            s.manager AS manager,
            s.email AS email,
            s.name AS name
        FROM
            shop s
        JOIN
            employee e ON s.employee_id = e.employee_id
        WHERE
            s.shop_id = #{shop_id}
    </select>

</mapper>