<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.encore.outpick_backend.Stock.mapper.StockMapper">
    <select id="read_stock"
            resultType="com.encore.outpick_backend.Stock.domain.StockDTO">
        SELECT
            s.stock_id,
            w.name AS warehouse_name,
            p.name AS product_name,
            p.size,
            p.color,
            s.stock_date,
            s.stock,
            ss.quantity
        FROM
            stock s
        JOIN product p ON p.product_id = s.product_id
        JOIN warehouse w ON s.warehouse_id = w.warehouse_id 
        JOIN shop_sales ss ON ss.product_id = p.product_id
        GROUP BY p.product_id
    </select>

    <select id="read_stock_shop"
            parameterType="map"
            resultType="com.encore.outpick_backend.Stock.domain.ShopStockDTO">
        SELECT
            ss.shop_stock_id,
            s.shop_id,
            s.name AS shop_name,
            p.name AS product_name,
            p.gender,
            c.name AS category_name,
            p.size,
            p.color,
            p.season,
            p.fit,
            p.first_cost,
            ss.stock,
            ss.stock_date,
            ss.discount,
            p.product_id
        FROM
            shop_stock ss
                JOIN product p ON p.product_id = ss.product_id
                JOIN category c ON c.category_id = p.category_id
                JOIN shop s ON s.shop_id = ss.shop_id
                JOIN employee e ON e.employee_id = s.employee_id
        WHERE
            e.employee_number = #{employee_number}
          AND s.shop_id = #{shop_id};
    </select>

    <select id="read_stock_shop_detail"
            parameterType="map"
            resultType="com.encore.outpick_backend.Stock.domain.ShopStockDTO">
        SELECT
            ss.shop_stock_id,
            s.shop_id,
            s.name AS shop_name,
            p.name AS product_name,
            p.gender,
            c.name AS category_name,
            p.size,
            p.color,
            p.season,
            p.fit,
            p.first_cost,
            ss.stock,
            ss.stock_date,
            ss.discount,
            p.product_id
        FROM
            shop_stock ss
                JOIN product p ON p.product_id = ss.product_id
                JOIN category c ON c.category_id = p.category_id
                JOIN shop s ON s.shop_id = ss.shop_id
                JOIN employee e ON e.employee_id = s.employee_id
        WHERE
            s.shop_id = #{shop_id};
    </select>

</mapper>