<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.encore.outpick_backend.Store.mapper.StoreStockMapper">

    <!--재고 리스트-->
    <select id="read_stock_list"
            parameterType="int"
            resultType="com.encore.outpick_backend.Store.domain.StoreStockListDTO">

        SELECT
            p.product_id AS product_id,
            p.name AS product_name,
            p.color AS color,
            p.size AS size,
            ss.shop_stock_id AS shop_stock_id,
            ss.stock AS stock
        FROM
            shop_stock ss
        JOIN
            product p ON ss.product_id=p.product_id
        WHERE
            ss.shop_id = #{shopid}

    </select>

    <!--재고 상세조회-->
    <select id="read_stock_product"
            parameterType="int"
            resultType="com.encore.outpick_backend.Store.domain.StoreStockProductDTO">

        SELECT
            ss.shop_stock_id AS shop_stock_id,
            ss.stock_date AS date,
            ss.discount AS discount,
            p.product_id AS product_id,
            p.season AS season,
            p.gender AS gender,
            p.fit AS fit,
            p.consumer_price AS consumer_price,
            p.first_cost AS first_cost
        FROM
            shop_stock ss
        JOIN
            product p ON ss.product_id=p.product_id
        WHERE
            ss.shop_stock_id=#{stockid}

    </select>

</mapper>