<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- Type Handlers 섹션 추가 -->
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.encore.outpick_backend.Proposal.domain.ProposalCategory"/>
    </typeHandlers>

    <mappers>
        <mapper resource="com/encore/outpick_backend/Login/domain/LoginMapper.xml"/>
    </mappers>
</configuration>